<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Job Board</display-name>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>Admin_jobseekersController</servlet-name>
        <servlet-class>Controller.Admin_jobseekersController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Admin_jobseekersController</servlet-name>
        <url-pattern>/Admin_jobseekersController</url-pattern>
    </servlet-mapping>
</web-app>
